<div style='<%= styles.products %>'>
    <p style='<%= styles.stock %>'><%= stockMsg %></p>
    <div style='<%= styles.product %>'>
        <div style='<%= styles.title %>'>
            <img src='cid:<%= product.img.cid %>' alt="image" style='<%= styles.img %>'/>
            <span><%= product.model %></span>
        </div>
    </div>
</div>